# include specific folders in .idea/
!.idea
.idea/*
# copyright settings
!/.idea/copyright
.idea/copyright/*
!/.idea/copyright/CloudNet.xml
!/.idea/copyright/profiles_settings.xml
# Code Style settings
!/.idea/codeStyles
.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
# Inspection profiles
!/.idea/inspectionProfiles
.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/CloudNet.xml
!/.idea/inspectionProfiles/profiles_settings.xml

# gradle
.gradle/
build/

# fleet
.fleet/

# eclipse
*.classpath
*.project
*.settings
/bin/
/subprojects/*/bin/
.metadata/
atlassian-ide-plugin.xml

# NetBeans
.nb-gradle
.nb-gradle-properties

# Vim
*.sw[nop]

# Emacs
*~
\#*\#
.\#*

# Textmate
.textmate

# Sublime Text
*.sublime-*

# jEnv
.java-version

# macOS
.DS_Store

# HPROF
*.hprof

# Work dirs
/incoming-distributions
/intTestHomeDir

# Logs
/*.log

# delombok
*/src/main/lombok

# CloudNet
.launchermeta/
