metadata.format.version = "1.1"

[versions]

# google libs
gson = "2.8.9"
guava = "31.0.1-jre"

# testing
junit = "5.8.2"
mockito = "4.2.0"
tyrusClient = "2.0.1"
minaSshdServer = "2.8.0"

# compile time processing
lombok = "1.18.22"

# console
jansi = "2.4.0"
jline = "3.21.0"
cloud = "1.7.0-SNAPSHOT"

# databases
h2 = "1.4.197" # do not update, leads to database incompatibility
xodus = "1.3.232"
mongodb = "4.4.1"
hikariCp = "5.0.1"
mysqlConnector = "8.0.28"

# general
asm = "9.2"
sshj = "0.32.0"
jjwt = "0.11.2"
slf4j = "1.7.32"
javers = "6.5.3"
caffeine = "3.0.5"
awsSdk = "2.17.116"
dockerJava = "3.2.12"
unirest = "4.0.0-RC2"
netty = "4.1.73.Final"
annotations = "23.0.0"

# platform api versions
velocity = "3.1.0"
nukkitX = "1.0-SNAPSHOT"
sponge = "9.0.0-SNAPSHOT"
waterdogpe = "1.1.5"
spigot = "1.8.8-R0.1-SNAPSHOT"
bungeecord = "1.18-R0.1-SNAPSHOT"

# platform extensions
vault = "1.7.1"
adventure = "4.9.3"
modlauncher = "8.0.9"
placeholderApi = "2.11.1"
protocolLib = "master-SNAPSHOT"
npcLib = "development-SNAPSHOT"

# fabric platform special dependencies
minecraft = "1.18.1"
fabricLoader = "0.12.12"


[libraries]

# compile time processing
lombok = { group = "org.projectlombok", name = "lombok", version.ref = "lombok" }

# google libs
guava = { group = "com.google.guava", name = "guava", version.ref = "guava" }
gson = { group = "com.google.code.gson", name = "gson", version.ref = "gson" }

# console
jline = { group = "org.jline", name = "jline", version.ref = "jline" }
jansi = { group = "org.fusesource.jansi", name = "jansi", version.ref = "jansi" }

# cloud commands
cloudCore = { group = "cloud.commandframework", name = "cloud-core", version.ref = "cloud" }
cloudAnnotations = { group = "cloud.commandframework", name = "cloud-annotations", version.ref = "cloud" }

# jjwt
jjwtApi = { group = "io.jsonwebtoken", name = "jjwt-api", version.ref = "jjwt" }
jjwtImpl = { group = "io.jsonwebtoken", name = "jjwt-impl", version.ref = "jjwt" }
jjwtGson = { group = "io.jsonwebtoken", name = "jjwt-gson", version.ref = "jjwt" }

# junit
junitApi = { group = "org.junit.jupiter", name = "junit-jupiter-api", version.ref = "junit" }
junitParams = { group = "org.junit.jupiter", name = "junit-jupiter-params", version.ref = "junit" }
junitEngine = { group = "org.junit.jupiter", name = "junit-jupiter-engine", version.ref = "junit" }

# general testing
mockitoInline = { group = "org.mockito", name = "mockito-inline", version.ref = "mockito" }
mockito = { group = "org.mockito", name = "mockito-junit-jupiter", version.ref = "mockito" }
minaSshdServer = { group = "org.apache.sshd", name = "sshd-sftp", version.ref = "minaSshdServer" }
tyrus = { group = "org.glassfish.tyrus.bundles", name = "tyrus-standalone-client", version.ref = "tyrusClient" }

# unirest
unirest = { group = "com.konghq", name = "unirest-java", version.ref = "unirest" }
unirestGson = { group = "com.konghq", name = "unirest-object-mappers-gson", version.ref = "unirest" }

# docker-java
dockerJavaApi = { group = "com.github.docker-java", name = "docker-java-core", version.ref = "dockerJava" }
dockerJavaHttpclient5 = { group = "com.github.docker-java", name = "docker-java-transport-httpclient5", version.ref = "dockerJava" }

# netty
nettyHandler = { group = "io.netty", name = "netty-handler", version.ref = "netty" }
nettyCodecHttp = { group = "io.netty", name = "netty-codec-http", version.ref = "netty" }
nettyNativeEpoll = { group = "io.netty", name = "netty-transport-native-epoll", version.ref = "netty" }

# general
asm = { group = "org.ow2.asm", name = "asm-tree", version.ref = "asm" }
sshj = { group = "com.hierynomus", name = "sshj", version.ref = "sshj" }
slf4jNop = { group = "org.slf4j", name = "slf4j-nop", version.ref = "slf4j" }
javers = { group = "org.javers", name = "javers-core", version.ref = "javers" }
awsSdk = { group = "software.amazon.awssdk", name = "s3", version.ref = "awsSdk" }
annotations = { group = "org.jetbrains", name = "annotations", version.ref = "annotations" }
caffeine = { group = "com.github.ben-manes.caffeine", name = "caffeine", version.ref = "caffeine" }

# databases
h2 = { group = "com.h2database", name = "h2", version.ref = "h2" }
hikariCp = { group = "com.zaxxer", name = "HikariCP", version.ref = "hikariCp" }
mongodb = { group = "org.mongodb", name = "mongodb-driver-sync", version.ref = "mongodb" }
xodus = { group = "org.jetbrains.xodus", name = "xodus-environment", version.ref = "xodus" }
mysqlConnector = { group = "mysql", name = "mysql-connector-java", version.ref = "mysqlConnector" }

# platform api
nukkitX = { group = "cn.nukkit", name = "nukkit", version.ref = "nukkitX" }
spigot = { group = "org.spigotmc", name = "spigot-api", version.ref = "spigot" }
sponge = { group = "org.spongepowered", name = "spongeapi", version.ref = "sponge" }
bungeecord = { group = "net.md-5", name = "bungeecord-api", version.ref = "bungeecord" }
velocity = { group = "com.velocitypowered", name = "velocity-api", version.ref = "velocity" }
waterdogpe = { group = "dev.waterdog.waterdogpe", name = "waterdog", version.ref = "waterdogpe" }

# adventure
adventureApi = { group = "net.kyori", name = "adventure-api", version.ref = "adventure" }
adventureSerializerGson = { group = "net.kyori", name = "adventure-text-serializer-gson", version.ref = "adventure" }
adventureSerializerLegacy = { group = "net.kyori", name = "adventure-text-serializer-legacy", version.ref = "adventure" }

# platform extensions
vault = { group = "com.github.MilkBowl", name = "VaultAPI", version.ref = "vault" }
npcLib = { group = "com.github.juliarn", name = "npc-lib", version.ref = "npcLib" }
modLauncher = { group = "cpw.mods", name = "modlauncher", version.ref = "modlauncher" }
placeholderApi = { group = "me.clip", name = "placeholderapi", version.ref = "placeholderApi" }
protocolLib = { group = "com.github.dmulloy2", name = "ProtocolLib", version.ref = "protocolLib" }

# fabric platform special dependencies
minecraft = { group = "com.mojang", name = "minecraft", version.ref = "minecraft" }
fabricLoader = { group = "net.fabricmc", name = "fabric-loader", version.ref = "fabricLoader" }


[bundles]

unirest = ["unirest", "unirestGson"]
mockito = ["mockito", "mockitoInline"]
mysql = ["mysqlConnector", "hikariCp"]
cloud = ["cloudCore", "cloudAnnotations"]
netty = ["nettyHandler", "nettyCodecHttp"]
jjwt = ["jjwtApi", "jjwtImpl", "jjwtGson"]
junit = ["junitApi", "junitParams", "junitEngine"]
dockerJava = ["dockerJavaApi", "dockerJavaHttpclient5"]
adventure = ["adventureApi", "adventureSerializerGson", "adventureSerializerLegacy"]

serverPlatform = ["spigot", "sponge", "nukkitX"]
proxyPlatform = ["bungeecord", "velocity", "waterdogpe"]
