{
  "license": "Apache-2.0",
  "contact": {
    "homepage": "https://cloudnetservice.eu",
    "discord": "https://discord.cloudnetservice.eu",
    "sources": "https://github.com/CloudNetService/CloudNet",
    "issues": "https://github.com/CloudNetService/CloudNet/issues"
  }
}
